@import 'src/assets/scss/common/base.scss';
@import 'src/assets/scss/common/_mixins.scss';
@import 'src/assets/scss/common/_variables.scss';

.footer-wrapper {
	background-color: #f0f5fb;
	padding-top: 54px;
}
.footer-wrapper__header {
	border-bottom: 1px solid #dadce0;
	padding-bottom: 24px;
}
.footer-wrapper__header h6 {
	font-weight: $normal-font-weight;
	color: #423f3f;
	@include genearteRemFontSize(16);
	margin-right: 52px;
}
.footer-wrapper__header-list {
	gap: 24px;
}
.footer-header-icons {
	cursor: pointer;
}
.footer-logo {
	min-width: 132px;
	height: 48px;
}
.footer-wrapper__main {
	padding: 24px 0;
	border-bottom: 1px solid #dadce0;
	align-items: flex-start;
}
.footer-wrapper__main p {
	max-width: 312px;
	width: 100%;
	color: #423f3f;
	@include genearteRemFontSize(16);
	font-weight: $light-font-weight;
	margin: 24px 0 32px;
	line-height: 1.2;
}
.footer-wrapper__main-footer-links {
	gap: 30px;
	margin-top: 24px;
	max-width: calc(100% - 400px);
	width: 100%;
	align-items: flex-start;
}
.footer-wrapper__footer {
	padding: 24px 0;
}
